[submodule "pybind11"]
	path = python/build/pybind11
	url = https://github.com/pybind/pybind11
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ext/bulk"]
	path = ext/bulk
	url = https://github.com/jwbuurlage/Bulk.git
        branch = array_queue
[submodule "catch"]
	path = ext/catch
	url = https://github.com/philsquared/Catch
[submodule "ext/libzmq"]
	path = ext/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "ext/cppzmq"]
	path = ext/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "ext/cpptoml"]
	path = ext/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "ext/tomopackets"]
	path = ext/tomopackets
	url = https://github.com/jwbuurlage/tomopackets
